.mainHeader {

    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;

    flex-shrink: 0;

    width: 100vw;
    height:38px;

    font-size: 18px;

    background-color: #1F252B;
    color: #A5A5A5;

    border-bottom:1px solid rgba(13,17,22,1);

}
.headerInfo {
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;

  width: 180px;
  flex-basis: 180px;
  height: 38px;
}
