
.panelContainer {
  display: flex;
  width: 100vw;
  height: calc(100vh - 48px);
  position: relative;
}
.panelCover {

  width: 100vw;
  height: 100vh;

  /*background-color: rgba(255,55,55,0.5);*/

  position: fixed;
  z-index: 1000;
  top:0;
  left:0;

}
.panelLeft,
.panelRight {
  flex-shrink: 0;
  flex-grow: 0;
}
.panelLeft {
  padding-top: 16px;
  border-right:1px solid rgba(33,33,33,1);
  overflow: scroll;
}
.panelRight {
  background-color: rgba(40,44,52,1);

  overflow: scroll;
}
.panelResizeHandle {
  width: 6px;
  height: calc(100vh - 48px);

  opacity:1;

  cursor: col-resize;

  position: absolute;
  z-index: 1100;
  top:0;


}
